@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h1 class="display-4">生成5个ID来瞅瞅</h1>
    <hr />
    @{
        foreach (var item in ViewBag.Ids)
        {
            <p>@item</p>
        }
    }
</div>
